{% extends "base.html" %}
{% block Content %}
    <h1>Получить информацию о дипломе</h1>
    <form>
        <label for="name">ФИО</label>
        <input type="text" name="fio" id="fio"/>
        <label for="snils">Снилс</label>
        <input type="text" name="snils" id="snils"/>
        <input type="submit" id="submit">
    </form>
    <div id="result"></div>
{% endblock %}
{% block Script %}
    let button = document.getElementById("submit");
    button.addEventListener('click', (event)=>{
        event.preventDefault();
        let fio = document.getElementById("fio");
        let snils = document.getElementById("snils");
        contract.methods.GetDiploma(fio.value, snils.value)
        .call()
        .then((data)=>{
            let div = document.getElementById("result");
            div.innerHTML = "";
            let ul = document.createElement("ul");
            data.forEach(element=>{
                let li = document.createElement("li");
                li.textContent = "Номер: " + element[0] +
                                "\nФакультет: " + element[1] +
                                "\nДата выдачи: " + element[2] +
                                "\nСтатус: " + element[3];
                ul.appendChild(li);
            });
            div.appendChild(ul);
        })
        .catch(error=>{
            alert(error);
        });
    });
{% endblock %}